/* Font stuffs */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@200;300;400&family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bebas+Neue&family=DM+Sans:opsz,wght@9..40,300&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200&family=Roboto:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    font-family: 'Raleway', sans-serif;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.paddings{
  padding: 1.5rem;
}
.innerWidth{
  width: 100%;
}

.flexCenter{
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flexStart{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.felxColStart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flexColEnd{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

@media (min-width: 1536px) {
  .innerWidth{
    max-width: 1280px;
    margin: auto;
  }
}

@media (min-width: 640px) {
  .paddings{
    padding: 4rem;
  }
}

@media (min-width: 1280px),(min-width: 768px) {
  .paddings{
    padding: 2rem;
  }
}

@media (max-width:642px) {
  .Mwidth{
    width: 642px;
    height: auto;
  }
}

